<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stanfy.enroscar.async">

  <application android:name="com.stanfy.enroscar.async.test.AsyncTestApp">

    <activity android:name="com.stanfy.enroscar.async.test.AsyncUserActivity" />
    <activity android:name="com.stanfy.enroscar.async.test.CursorAsyncUserActivity" />

    <provider
        android:authorities="com.stanfy.enroscar.async.test"
        android:exported="false"
        android:name="com.stanfy.enroscar.async.test.TestContentProvider" />

  </application>

</manifest>
