<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stanfy.enroscar.goro" >

  <application tools:ignore="AllowBackup">

    <service
        android:name=".GoroService"
        android:exported="false" />

  </application>

</manifest>
